#player {
  width: 100% !important;
  height: auto !important;
}

.player-fullscreen {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 100 !important;
}

.hide-fullscreen {
  display: none !important;
}

.xgplayer xg-trigger .time-preview span.xg-cur {
  color: #2d5cf6 !important;
}

.xgplayer xg-trigger .time-preview .xg-bar .xg-curbar {
  background-color: #2d5cf6 !important;
}

.xgplayer .xgplayer-progress-played {
  background: linear-gradient(-90deg, #2d5cf6 0%, #2d5cf6 100%) !important;
}

.xgplayer .xgplayer-drag {
  background: #2d5cf6 !important;
}

.xgplayer .xgplayer-progress .xgplayer-progress-btn {
  background: rgba(57, 91, 237, 0.304093) !important;
  border: 0.5px solid rgba(57, 91, 237, 0.056545) !important;
  box-shadow: 0 0 1px #2d5cf662 !important;
}

.play-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-button svg {
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.8);
}

.play-button svg:hover {
  color: rgba(255, 255, 255, 1);
}

.no-next {
  display: none !important;
}

.xgplayer .xg-options-list li {
  margin: 6px 0;
}

.xgplayer .xg-options-list li:hover,
.xgplayer .xg-options-list li.selected {
  color: #2d5cf6 !important;
  font-weight: bold;
}
