.ac-navbar-search-input-key {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
  margin: 0 0 0 4px;
  min-width: 17.21px;
  height: 20px;
  left: 117px;
  top: 6px;
  background: #fff;
  border: 1px solid #c9cdd4;
  box-shadow: 0 1px 0 #c9cdd4;
  border-radius: 3px;
  font-size: 12px;
  color: var(--color-text-3);
  cursor: pointer;
}

body[arco-theme="dark"] .ac-navbar-search-input-key {
  background: #202022;
  border: 1px solid hsl(0deg 0% 100% / 12%);
  box-shadow: 0 1px 0 hsl(0deg 0% 100% / 12%);
  color: hsl(0deg 0% 100% / 40%);
}
