.movie-grid {
  display: grid;
  list-style: none;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  transition: grid-template-columns 0.3s ease-in-out;
}

@media only screen and (max-width: 960px) and (min-width: 801px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media only screen and (max-width: 800px) and (min-width: 751px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}

@media only screen and (max-width: 750px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

.movie-grid .arco-image {
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.5s;
}

.movie-grid .arco-image:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px -5px rgb(0 0 0 / 30%);
}

.no-scale .arco-image:hover {
  transform: none !important;
  box-shadow: 0 5px 15px -5px rgb(0 0 0 / 30%);
}

body[arco-theme='dark'] .movie-grid .arco-image:hover {
  box-shadow: 0 10px 30px -5px rgb(255 255 255 / 30%);
}

body[arco-theme='dark'] .no-scale .arco-image:hover {
  box-shadow: 0 5px 15px -5px rgb(255 255 255 / 30%);
}

.star {
  color: rgb(var(--gold-6));
}

body[arco-theme='dark'] .star {
  color: rgb(var(--gold-5));
}